{% extends 'base.html.twig' %}

{% block title %}
	Book's List
{% endblock %}

{% block body %}

<div style="width:100%">
	<div style="margin-left:20px;float:left">
	</div>
	<div style="margin-right:20px;float:right">
		<a href="{{ path('fos_user_security_logout') }}">Logout</a>
	</div>
</div>

<center>
	<table style="border:1px orange solid;border-radius:3px">
		<tr>
			<th class="rowTh">Name</th>
			<th class="rowTh">Release Date</th>
			<th class="rowTh">Length</th>
			<th class="rowTh"></th>
		</tr>
	{% for book in books %}
		<tr>
			<td class="rowTd" style="text-align:left"><a href="{{ path("book", {'book_name':book[0].bname}) }}">{{ book[0].bname }}</a></td>
			<td class="rowTd">{{ book[0].breleased | date("m/d/Y") }}</td>
			<td class="rowTd">{{ book[0].blength | number_format}}</td>
			<td class="rowTd">
				{% set genres = book.gname|split(',') %}
				{% for item in genres %}
					<a href="{{ path("genre", {'genre_name':item}) }}"> {{item}} </a>&nbsp;
				{% endfor %}
			</td>
		</tr>
	{% endfor %}
		<tr>
			<th colspan=3>

				{% if prev >= 0 %}
					<a href="{{ path("pager", {'page_no':prev}) }}">< Prev Page </a>
				{% endif %}

				{% if next >= 0 %}
					<a href="{{ path("pager", {'page_no':next}) }}">Next Page > </a>
				{% endif %}
			</th>
		<tr>
	</table>
</center>
	
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<style>
	.rowTh{
		text-align:center;
		width:200px;
		height:35px;
		border-bottom:1px gray solid;
	}
	.rowTd{
		text-align:center;
		width:200px;
		height:35px;
		border-bottom:1px gray solid;
	}
</style>
{% endblock %}
