{% extends 'base.html.twig' %}

{% block title %}
	Book's info
{% endblock %}

{% block body %}

<div style="width:100%">
	<div style="margin-left:20px;float:left">
		<a href="{{ path("home") }}">Books</a>
	</div>
	<div style="margin-right:20px;float:right">
		<a href="{{ path('fos_user_security_logout') }}">Logout</a>
	</div>
</div>

<center>
	<table style="border:1px orange solid;border-radius:3px">
		<tr>
			<th class="rowTh">Parameter</th>
			<th class="rowTh">Value(s)</th>
		</tr>
	{% for book in books %}
		<tr>
			<th class="rowTh">Name:</th>
			<td class="rowTd" >{{ book.bname }}</td>
		</tr>
		</tr>
			<th class="rowTh">Release Date:</th>
			<td class="rowTd">{{ book.breleased | date("m/d/Y") }}</td>
		</tr>
		</tr>
			<th class="rowTh">Length:</th>
			<td class="rowTd">{{ book.blength | number_format}}</td>
		</tr>
		</tr>
			<th class="rowTh">Genre(s) :</th>
			<td class="rowTd">
					{% for genre in book.relation %}
						{{ genre.genre['gname'] }}<br>
					{% endfor %}
			</td>			
		</tr>
		</tr>
			<th class="rowTh">Accessible for :</th>
			<td class="rowTd">
					{% for genre in book.user_book %}
						{{ genre.user['username'] }}<br>
					{% endfor %}
			</td>			
		</tr>
	{% endfor %}
	</table>
</center>
	
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<style>
	.rowTh{
		text-align:center;
		width:200px;
		height:35px;
		border-bottom:1px gray solid;
	}
	.rowTd{
		text-align:center;
		width:300px;
		height:35px;
		border-bottom:1px gray solid;
	}
</style>
{% endblock %}
